body {
    font-family: Poppins;
    font-size: 14px;
}
p {
    margin: 0;
}
hr {
    height: 4px;
    width: 100%;
    border-width: 0;
    background-color: lightgrey;
    color: lightgrey;
}
.header>p {
    display: inline;
}
.heading {
    font-size: 18px;
}
.no-of-items {
    float: right;
    margin-right: 5px;
}
.prod-name {
    font-size: 12px;
}
.prod-image,
.prod-descr {
    float: left;
    margin: 2px;
}
.user-options {
    color: silver;
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 100%;
}
.user-options>p {
    display: inline-block;
    margin-left: 2px;
    padding: 5px;
}
.prod-details {
    color: lightgray;
}
.quantity {
    border: 1px solid lightgray;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 30px;
}
.dollar-symbol {
    font-size: 12px;
}
.price,
.original-price,
.discounted-price {
    font-size: 26px;
}
.original-price {
    color: lightgray;
}
.discounted-price p {
    display: inline;
}
.desk-prod-details,
.assistance-text {
    display: none;
}
.mob-prod-details,
.sign-in {
    display: block;
}
.promo-code {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
.promo-apply-btn {
    background-color: white;
    border: 1px solid silver;
    height: 29px;
    margin-left: 5px;
}
.input-promocode {
    border: 1px solid silver;
    height: 25px;
    margin-top: 5px;
    width: 140px;
}
.shipping-charges span {
    display: inline-block;
}
.tot-amount {
    font-size: 20px;
}
#checkout {
    background-color: deepskyblue;
    border: 1px solid lightskyblue;
    display: table;
    height: 50px;
    margin: 0 auto;
    width: 200px;
}
.order-bill,
.shop-more,
.secure-checkout {
    margin-top: 15px;
}
.shop-more {
    text-align: center;
    text-decoration: underline;
}
.secure-checkout,
.sign-in {
    text-align: center;
}
.charge-info {
    column-count: 2;
    padding: 15px;
}
.amount {
    text-align: right;
}
.condition-text {
    color: lightgray;
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .header>p,
    .shipping-charges span {
        display: block;
    }
    .no-of-items {
        float: left;
        width: 40%;
    }
    .user-options {
        margin-top: 0;
        text-align: left;
    }
    .order-details>div,
    .mob-prod-details {
        display: inline-block;
    }
    .dollar-symbol {
        font-size: 10px;
    }
    .assistance-text {
        margin: 20px 15px;
        vertical-align: top;
        width: 30%;
    }
    .bill-details {
        margin-top: 20px;
        width: 60%;
    }
    .assistance-text>div {
        padding: 10px;
    }
    .promo-code {
        column-count: 2;
        text-align: left:;
    }
    .secure-checkout>p {
        display: inline;
    }
    .secure-checkout {
        margin-top: 40px;
        text-align: right;
    }
    .sign-in {
        display: none;
    }
    #checkout {
        float: right;
    }
    .desk-prod-details {
        display: inline;
        margin: 0 6%;
    }
    .lock-img {
        float: left;
        margin-left: 55%;
    }
}