body {
    font-family: Poppins;
    font-size: 14px;
}
p {
    margin: 0;
}
hr {
    height: 4px;
    width: 100%;
    border-width: 0;
    background-color: lightgrey;
    color: lightgrey;
}
.display-block{
	display: block;
}
.display-none{
	display: none;
}
/* header */
.header>p {
    display: inline;
}
.heading {
    font-size: 18px;
}
.no-of-items {
    float: right;
    margin-right: 5px;
}
.isDesktop,
.assistance-text {
    display: none;
}

/* Section Product Info */

.product-image,
.product-description {
    float: left;
    margin: 2px;
}
.product-name, .dollar-symbol {
    font-size: 12px;
}
.product-details, .original-price {
    color: lightgray;
}
.product-specs,
.sign-in {
    display: block;
}
.original-price,
.discounted-price {
    font-size: 26px;
}

.discounted-price p, .modal-specs {
    display: inline;
}
.quantity {
    border: 1px solid lightgray;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 30px;
}
.user-options {
    color: silver;
    float: left;
    margin-top: 7px;
    text-align: center;
    width: 100%;
}
.user-options>a {
	text-decoration: none;
	color: lightgray;
    display: inline-block;
    margin-left: 2px;
    padding: 5px;
}

.color-options{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #A3D2A1;
	margin: 0 5px;
}
/* Section Promo Code and Bill Details */
.promo-code {
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
.promo-apply-btn {
    background-color: white;
    border: 1px solid silver;
    height: 29px;
    margin-left: 5px;
}
.input-promocode {
    border: 1px solid silver;
    height: 25px;
    margin-top: 5px;
    width: 140px;
}
.shipping-charges span {
    display: inline-block;
}

#checkout{
    background-color: deepskyblue;
    border: 1px solid lightskyblue;
    display: table;
    height: 50px;
    margin: 0 auto;
    width: 200px;
}
#modal-edit-button{
	background-color: deepskyblue;
    border: 1px solid lightskyblue;
    height: 50px;
    width: 100px;
}
.order-bill,
.shop-more,
.secure-checkout {
    margin-top: 15px;
}
.shop-more {
    text-align: center;
    text-decoration: underline;
}
.secure-checkout,
.sign-in {
    text-align: center;
}
.charge-info {
    column-count: 2;
    padding: 15px;
}
.amount, .total-amount {
    text-align: right;
}
.condition-text {
    color: lightgray;
    font-size: 10px;
}

.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* height: 50%; */
    column-count: 2;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 92px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-details{
	text-align: center;
	margin-top: 12%;
	
}
.modal-details>p{
	padding: 8px;
}

/* Media Query for Destop Version */
@media screen and (min-width: 768px) {
    
    /* Header */
    .header>p,
    .shipping-charges span {
        display: block;
    }
    .no-of-items {
        float: left;
        width: 40%;
    }
    .isDesktop {
        display: inline;
        margin: 0 6%;
    }

    /* Section Product Info */
	 .order-details>div,
    .product-specs {
        display: inline-block;
    }
	.dollar-symbol {
        font-size: 10px;
    }
	.user-options {
        margin: 0 16%;
        text-align: left;
    }
    .product-specs{
    	padding: 20px;
    }
    .product-image,
	.product-description {
    	margin: 5px 30px;
}

    /* Section Promo Code and Bill Details */
	.assistance-text {
        margin: 20px 15px;
        vertical-align: top;
        width: 30%;
    }
    .bill-details {
        margin-top: 20px;
        width: 60%;
    }
    .assistance-text>div {
        padding: 10px;
    }
    .promo-code {
        column-count: 2;
        text-align: left:;
    }
    .secure-checkout>p {
        display: inline;
    }
    .secure-checkout {
        margin-top: 40px;
        text-align: right;
    }
    .sign-in {
        display: none;
    }
    #checkout {
        float: right;
    }
    .lock-img {
        float: left;
        margin-left: 55%;
    }
    .modal-content{
    	width: 40%;
    	height: 50%;
    }
    .close{
    	right: 410px;
    }
    .modal-details{
        width: 270px;
        height: 100%;
    }
    .modal-details>p{
        padding: 15px;
    }
}